.font {
    /* font size */
    font-size : 40px;
    /* font style */
    /* font-style : italic; */
    /* font weight  bold = 700*/
    font-weight: 700;
    /* 서체 */
    /* font-family:  'Times New Romam',Times, serif */
    font-family: 'Noto Sans KR', sans-serif;
    line-height:60px;
    letter-spacing: 4px;
    text-align: center;

}
#ssafy > p:nth-child(2) {
    color:red;
}
#ssafy > p:nth-of-type(2) {
    color:blue;
}