<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Document</title>
    <style>
        img {
            width : 400px;
        }
    </style>
</head>
<body>
    <div id="app">
        <button v-on:click='getCatImage'>냥</button>
        <img v-bind:src="imageURL" alt="">
        <ul>
                <li v-for='number in numbers' v-if='number%2===0'>{{number}}</li>
            </ul>
    </div>
    <script>
        const app = new Vue ({
            el : '#app',
            data : {
                imageURL : '',
                numbers :[0,1,2,3,4,5,6,7,8,9]
            },
            methods :{
                getCatImage : function(){
                    axios.get('https://api.thecatapi.com/v1/images/search')
                        .then((response)=>{ //vue instance에서는 function(){} 대신 ()=>으로 사용
                            this.imageURL = response.data[0].url
                        })
                },
                getMod2 : function(number){
                    if(number%2)
                        return false
                    else
                        return true
                }
            },
        })
    </script>
</body>
</html>